* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

p, span, h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.command-bar .navigation-bar {
  height: 3.5rem;
  padding: 16px;

  display: flex;
  align-items: center;
}

.command-bar .navigation-bar input {
  flex-grow: 1;

  border: 0;
  outline: none;
  background: none;
  color: #FFFFFF;

  font-weight: 500;
  font-size: 1rem;
}

.command-bar .action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  border-top: 1px solid rgba(143, 141, 145, 0.2);
}

.command-bar .action-bar span {
  font-size: 0.813rem;
  color: rgba(255, 255, 255, 0.6);
}